{% extends 'base.html' %}
{% load bootstrap3 %}
{% block head %}
{% endblock head %}
{% block content %}
<div style="position: absolute; left: 50%; margin-left: -100px">
<form enctype="multipart/form-data" method="post" action="{% url 'file:import_excel' %}">
    {% csrf_token %}
<input type="file" name="file" />
<input type="submit" value="确定"/>
</form>
    {% if error %}
    <p style="font-size:15px;color:red">{{ error }}</p>
    {% endif %}
    {% if message %}
    <p style="font-size:15px;color:blue">{{ message }}</p>
    {% endif %}
    {% if info_list %}
    {% for info in info_list %}
    <p style="font-size:15px;color:black">{{ info }}</p>
    {% endfor %}
    {% endif %}
</div>
{% endblock content %}