{% extends "wiki_full_base.html" %}
{% load bootstrap3 %}
{% block head %}
<title>美信CMDB</title>
<style>
    .main {
        text-align: left;
        border-radius: 20px;
        margin: auto;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .main #button {
        position:absolute;
        right:0;
        bottom:0;
    }
</style>
{% endblock head %}
{% block content %}
<div class="content-body">
<div class="container">
    {% if error_message %}
    <h4><font color="red">{{ error_message }}</font></h4>
    {% endif %}
    <div class="main">
    {% if is_edit %}
    <form action="{% url 'wiki:post_edit' project.pk post_pk %}" method="post">
    {% else %}
    <form action="{% url 'wiki:post_add' project.pk %}" method="post">
    {% endif %}
        {% csrf_token %}
        {{form.media }}
        {% bootstrap_form form %}
        {% bootstrap_button content='确定' button_class='btn btn-info'%}
    </form>
    <div id="button">
        {% if is_edit %}
        <form action="{% url 'wiki:post_detail' project.pk post_pk %}" method='get' style="margin:0px;display:inline;">
        {% else %}
        <form action="{% url 'wiki:get_wiki' project.pk %}" method='get'>
        {% endif %}
        <button type="submit" class="btn btn-warning">返回</button>
        </form>
    </div>
    </div>
</div>
</div>
{% endblock content %}