{% extends 'base.html' %}
{% block head %}
<title>美信CMDB</title>
<style>
    body {
        color: #555;
        font: 12px/18px Helvetica, Arial, Verdana, "Microsoft yahei", sans-serif;
        margin: 0;
    }

    .main {
        text-align: center;
        border-radius: 20px;
        width: 600px;
        height: 350px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

    }
</style>
{% endblock head %}

{% block content%}
<div class="main">
    {% if user.is_authenticated %}
    <h1 style="font-size:105px;"><font color="#00bfff">美信CMDB</font></h1>
    {% else %}
    <h1 style="font-size:105px;">美信CMDB</font></h1>
    {% endif %}
    <p><small style="font-size:25px;">管理 记录 搜索</small></p>
    <small style="font-size:25px;">Manage Record Search</small>
</div>
{% endblock content %}
